@import "../../styles/mixins";
@import "../../styles/variables";

.goodListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 131px;
  margin: 0;
  padding: 0;
  width: 1420px;
  width: 100%;
  border: 1
}
