.mainContainer {
  width: 1920px;

  .h3Container {
    font-size: 36px;
    font-weight: 700;
    padding-inline: 250px;
    padding-top: 72px;

    width: 1420;
    line-height: 100%;
    margin: 0;
  }
}

.line {
  border-top: 1px solid #eaeaea;
  width: 1420px;
  margin: 0 auto;
  padding-bottom: 45px;
}
