@import "../../styles/mixins";
@import "../../styles/variables";

.headerContainer {
  width: 100%;
  max-width: 1940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary_back_header;
  color: $primary_color_light;
  height: 110px;

  h3 {
    font-weight: 900;
    font-size: 20px;
    margin: 0;
    padding: 0 250px;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}
