@import "../../styles/mixins";
@import "../../styles/variables";

.navContainer {
  padding-right: 250px;
  @include flexbox(row, space-between, center);
  max-width: 40%;
  gap: 64px;
}

.navContainer a {
  text-decoration: none;
  transition: color 0.3s ease;
}
